<!DOCTYPE html>
<html>
<head>
    <title>LPG Cylinder Number Scanner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="weight-box">
            <span class="weight-label">Weight</span>
            <div class="weight-select-container">
                <select id="weight-dropdown" class="weight-dropdown">
                    <option value="" disabled selected>Select Weight (KG)</option>
                    <option value="12">12</option>
                    <option value="33">33</option>
                    <option value="35">35</option>
                    <option value="45">45</option>
                </select>
                <span class="weight-unit">KG</span>
            </div>
        </div>
        <div class="cylinder-number-container">
            <label for="cylinder-number">Cylinder Number</label>
            <input type="text" id="cylinder-number" class="cylinder-number-input">
        </div>
        <div class="digit-boxes">
            <input type="text" class="box" id="box1" maxlength="1">
            <input type="text" class="box" id="box2" maxlength="1">
            <input type="text" class="box" id="box3" maxlength="1">
            <input type="text" class="box" id="box4" maxlength="1">
            <input type="text" class="box" id="box5" maxlength="1">
            <input type="text" class="box" id="box6" maxlength="1">
            <input type="text" class="box" id="box7" maxlength="1">
            <input type="text" class="box" id="box8" maxlength="1">
        </div>
        <div class="button-container">
            <button id="scanButton">Scan</button>
        </div>
         <div class="date-container">
            <div class="date-input">
               <label for="manufacture-date">Manufacture Date</label>
               <input type="date" id="manufacture-date" class="date-picker">
            </div>
            <div class="date-input">
               <label for="expire-date">Expire Date</label>
               <input type="date" id="expire-date" class="date-picker">
            </div>
        </div>
        
        <div id="error-div" style="display: none;">
            <span id="error-text" style="color:red;">Tag Number is Required.</span>
        </div>
        <div class="submit-container">
            <button id="submitButton">Submit</button>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>